<h2>Menú</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item" 
        routerLink="" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">
        <img src="../../../assets/vs.png" width="20px">
        Últimos comentarios .Net
    </li>
    
    <li class="list-group-item" 
        routerLink="create" 
        routerLinkActive="active">
        <img src="../../../assets/vs.png" width="20px">
        Hacer comentario .Net

    </li>
    <li class="list-group-item" 
        routerLink="springList" 
        routerLinkActive="active">
        <img src="../../../assets/sp.png" width="20px">
        Últimos comentarios Spring 
    </li>
    <li class="list-group-item" 
        routerLink="springAgregar" 
        routerLinkActive="active">
        <img src="../../../assets/sp.png" width="20px">
        Hacer comentario spring 

    </li>
</ul>
